*
!User/
!User/Abstract_BSP_Lib/
!User/Implements/


# 抽象层
!User/Abstract_BSP_Lib/AbstractLayer/
!User/Abstract_BSP_Lib/AbstractLayer/Inc/
!User/Abstract_BSP_Lib/AbstractLayer/Src/
!User/Abstract_BSP_Lib/AbstractLayer/Inc/**
!User/Abstract_BSP_Lib/AbstractLayer/Src/**

# 基础IO层
!User/Abstract_BSP_Lib/BaseIO/
!User/Abstract_BSP_Lib/BaseIO/Inc/
!User/Abstract_BSP_Lib/BaseIO/Src/
!User/Abstract_BSP_Lib/BaseIO/Inc/**
!User/Abstract_BSP_Lib/BaseIO/Src/**

# 计算工具类库
!User/Abstract_BSP_Lib/Calculate/
!User/Abstract_BSP_Lib/Calculate/Inc/
!User/Abstract_BSP_Lib/Calculate/Src/
!User/Abstract_BSP_Lib/Calculate/Inc/**
!User/Abstract_BSP_Lib/Calculate/Src/**

# 外设类库
!User/Abstract_BSP_Lib/Peripheral/
!User/Abstract_BSP_Lib/Peripheral/Inc/
!User/Abstract_BSP_Lib/Peripheral/Src/
!User/Abstract_BSP_Lib/Peripheral/Inc/**
!User/Abstract_BSP_Lib/Peripheral/Src/**

#STM32HAL实现层
!User/Implements/STM32_HAL
!User/Implements/STM32_HAL/Inc/
!User/Implements/STM32_HAL/Src/
!User/Implements/STM32_HAL/Inc/**
!User/Implements/STM32_HAL/Src/**

#MSP432实现层
!User/Implements/MSP432
!User/Implements/MSP432/Inc/
!User/Implements/MSP432/Src/
!User/Implements/MSP432/Inc/**
!User/Implements/MSP432/Src/**

#忽略文件
!.gitignore
!License.md
#自述文件
!README.md
#图片文件
!Img/
!Img/icon.png
!Img/注释内容相关.png
!Img/LED点灯例程.png
!Img/OLED驱动例程1.png
!Img/OLED驱动例程2.png
