*
!User/
!User/Lib/
!User/Implements/


# 抽象层
!User/Lib/AbstractLayer/
!User/Lib/AbstractLayer/Inc/
!User/Lib/AbstractLayer/Src/
!User/Lib/AbstractLayer/Inc/**
!User/Lib/AbstractLayer/Src/**

# 基础IO层
!User/Lib/BaseIO/
!User/Lib/BaseIO/Inc/
!User/Lib/BaseIO/Src/
!User/Lib/BaseIO/Inc/**
!User/Lib/BaseIO/Src/**


#STM32实现层
!User/Implements/STM32_HAL
!User/Implements/STM32_HAL/Inc/
!User/Implements/STM32_HAL/Src/
!User/Implements/STM32_HAL/Inc/**
!User/Implements/STM32_HAL/Src/**

#忽略文件
!.gitignore
#自述文件
!README.md
#图片文件
!Img/
!Img/icon.png
