*
!User/
!User/Lib/
!User/Implements/


# 抽象层
!User/Lib/AbstractLayer/
!User/Lib/AbstractLayer/Inc/
!User/Lib/AbstractLayer/Src/
!User/Lib/AbstractLayer/Inc/**
!User/Lib/AbstractLayer/Src/**

# 基础IO层
!User/Lib/BaseIO/
!User/Lib/BaseIO/Inc/
!User/Lib/BaseIO/Src/
!User/Lib/BaseIO/Inc/**
!User/Lib/BaseIO/Src/**


#STM32实现层
!User/Implements/STM32
!User/Implements/STM32/Inc/
!User/Implements/STM32/Src/
!User/Implements/STM32/Inc/**
!User/Implements/STM32/Src/**

#忽略文件
!.gitignore
!README.md
